*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
android-arm64/libneedle.a filter=lfs diff=lfs merge=lfs -text
android-arm64/needle filter=lfs diff=lfs merge=lfs -text
android-armv7/libneedle.a filter=lfs diff=lfs merge=lfs -text
android-armv7/needle filter=lfs diff=lfs merge=lfs -text
android-riscv64/libneedle.a filter=lfs diff=lfs merge=lfs -text
android-riscv64/needle filter=lfs diff=lfs merge=lfs -text
assets/architecture.png filter=lfs diff=lfs merge=lfs -text
assets/banner.png filter=lfs diff=lfs merge=lfs -text
ios-arm64/libneedle.a filter=lfs diff=lfs merge=lfs -text
ios-sim-arm64/libneedle.a filter=lfs diff=lfs merge=lfs -text
linux-arm64/libneedle.a filter=lfs diff=lfs merge=lfs -text
linux-arm64/needle filter=lfs diff=lfs merge=lfs -text
linux-armv7/libneedle.a filter=lfs diff=lfs merge=lfs -text
linux-armv7/needle filter=lfs diff=lfs merge=lfs -text
linux-mipsel/libneedle.a filter=lfs diff=lfs merge=lfs -text
linux-mipsel/needle filter=lfs diff=lfs merge=lfs -text
linux-riscv64/libneedle.a filter=lfs diff=lfs merge=lfs -text
linux-riscv64/needle filter=lfs diff=lfs merge=lfs -text
linux-x86_64/libneedle.a filter=lfs diff=lfs merge=lfs -text
linux-x86_64/needle filter=lfs diff=lfs merge=lfs -text
macos-arm64/libneedle.a filter=lfs diff=lfs merge=lfs -text
macos-arm64/needle filter=lfs diff=lfs merge=lfs -text
needle3.cact filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.0-py3-none-macosx_11_0_arm64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.0-py3-none-macosx_11_0_x86_64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.0-py3-none-manylinux2014_aarch64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.0-py3-none-manylinux2014_x86_64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.0-py3-none-musllinux_1_2_aarch64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.0-py3-none-musllinux_1_2_x86_64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.0-py3-none-win_amd64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.0-py3-none-win_arm64.whl filter=lfs diff=lfs merge=lfs -text
tvos-arm64/libneedle.a filter=lfs diff=lfs merge=lfs -text
watchos-arm64/libneedle.a filter=lfs diff=lfs merge=lfs -text
windows-arm64/libneedle.a filter=lfs diff=lfs merge=lfs -text
windows-arm64/needle.exe filter=lfs diff=lfs merge=lfs -text
windows-x86_64/libneedle.a filter=lfs diff=lfs merge=lfs -text
windows-x86_64/needle.exe filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.1-py3-none-macosx_11_0_arm64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.1-py3-none-macosx_11_0_x86_64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.1-py3-none-manylinux2014_aarch64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.1-py3-none-manylinux2014_x86_64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.1-py3-none-musllinux_1_2_aarch64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.1-py3-none-musllinux_1_2_x86_64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.1-py3-none-win_amd64.whl filter=lfs diff=lfs merge=lfs -text
python/cactus_needle-3.0.1-py3-none-win_arm64.whl filter=lfs diff=lfs merge=lfs -text
